<a href="https://colab.research.google.com/github/kaustavr19/Football-Analytics-using-Python-7-Day-Workshop/blob/main/Day_2_Pandas_%26_Matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Manipulation

## What is library in python?
It is nothing but a collection of functions used to accomplish a common objective.

For eg., if we want to work with tables, we would use "pandas". For mathematical operations, we use "math"

In [1]:
#Data manipulation libraries:
import io
import pandas as pd

#Plotting libraries:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

## The pandas library
According to the Wikipedia page for pandas, the name is derived from the term "panel data", an econometrics term for data sets that include observations over multiple time periods for the same individuals.

PS: It has nothing to do with the Kung Fu type pandas :D

## Pandas dataframe
It is nothing but a collection of rows and columns arranged in a structed tabular format with values inside. Basically, pandas DataFrame is a 2D dictionary i.e. it is a 2D Data Structure in python.

In very simple terms, it is equivalent to an Excel Worksheet.

In [2]:
d = {'col1':[1,2], 'col2':[3,4]}
df = pd.DataFrame(data=d)

In [3]:
df

   col1  col2
0     1     3
1     2     4

In [4]:
#df.loc["index","col"]
df.loc[0,'col1']

1

In [5]:
df.loc[0,'col2']

3

In [6]:
df.loc[0,'col1'] = 25
df

   col1  col2
0    25     3
1     2     4

In [7]:
df["col3"] = [5,6]
df

   col1  col2  col3
0    25     3     5
1     2     4     6

In [8]:
df[['col1','col3']]

   col1  col3
0    25     5
1     2     6